[submodule "guitarseq/jackclient-python"]
	path = third_party/jackclient-python
	url = git@github.com:amstan/jackclient-python.git
	branch = master
[submodule "firmware/libopencm3"]
	path = libopencm3
	url = git@github.com:libopencm3/libopencm3.git
	branch = master
[submodule "firmware"]
	path = firmware
	url = https://chromium.googlesource.com/chromiumos/platform/ec
[submodule "guitarseq/python-periphery"]
	path = third_party/python-periphery
	url = https://github.com/vsergeev/python-periphery.git
