[submodule "guitarseq/jackclient-python"]
	path = third_party/jackclient-python
	url = git@github.com:amstan/jackclient-python.git
	branch = master
[submodule "guitarseq/python-periphery"]
	path = third_party/python-periphery
	url = https://github.com/vsergeev/python-periphery.git
[submodule "firmware"]
	path = firmware
	url = https://github.com/amstan/guitar.git
